<% include ../common/header.html %>
<div class="cm_main2">
	<div id="bc_head" class="cm_row"><% include ../components/index_head02.html %></div>
	<div class="cm_main cm_c6b">
		<ul class="cm_row ">
			<li class=" cm_pc_8 cm_pr20pc ">
				<% include ./tpl/cm_baike_list.html%>
			</li>
			<li class=" cm_pc_4 cm_row">
				<% include ./tpl/cm_baike_right.html%>
			
			</li>
		</ul>
		
	</div>
	<div id="bc_foot"><% include ../components/index_foot.html %></div>
</div>
<link rel="stylesheet" href="<%=site.path%>/css/apps/baike_column.css">
<script src="<%=site.path%>/bundle/commonJS.js"></script>
<% include ../common/footer.html %>