<style>
    .baike_index_swiper .swiper-button-next{
        background: url('./../../../images/pics/left_02.png') no-repeat;
        width: 3em;
        height: 4em;
        background-size: 100%;
        position: absolute;
        top: 7em;
        left: 0.7em;
    }
    .baike_index_swiper .swiper-button-prev{
        background: url('./../../../images/pics/right_02.png') no-repeat;
        width: 3em;
        height: 4em;
        background-size: 100%;
        position: absolute;
        top: 7em;
        right: 0.7em;
    }
</style>

<div class="cm_pc_4 cm_ptb1">
        <div class="swiper-container baike_index_swiper  cm_pr cm_h20 cm_b1ce">
            <div class="swiper-wrapper cm_wh100">
                <div class="swiper-slide cm_wh100">
                    <div class="cm_wh100 cm_pr">
                        <img class="cm_wh100" src="<%=site.path%>/images/commons/banner_01.jpg" />
                        <p class="cm_pa cm_bl0 cm_h2 cm_lh2 cm_bf cm_prl1 cm_fs09">热门百科热门百科热门百科热门百科热门百科热门百科</p>
                    </div>
                </div>
                <div class="swiper-slide cm_wh100">
                    <div class="cm_wh100 cm_pr">
                        <img class="cm_wh100" src="<%=site.path%>/images/commons/banner_02.jpg" />
                        <p class="cm_pa cm_bl0 cm_h2 cm_lh2 cm_bf cm_prl1 cm_fs09">热门百科热门百科热门百科热门百科热门百科热门百科热门科热门百科热门百科热门百科</p>
                    </div>
                </div>
            </div>
            <div class="index_pagination cm_mob"></div>
            <div class="swiper-button-next cm_dn " ></div>
            <div class="swiper-button-prev cm_dn" ></div>

    </div>
    <div class="index_pagination pc_hide mobile_show"></div>
</div>
<link rel="stylesheet" href="<%=site.path%>/js/jqplugin/idangerous.swiper.min.css">


