<div class="cm_bf cm_pd2">
    <div class="cm_h205 cm_lh205 cm_bb1ce">
        <h3 class="cm_fs13 ">热门理财百科</h3>
    </div>
    <ul class="cm_row cm_mtb08">
        <% for(var i=0;i<12;i++){ %>
        <li class="cm_pc_6 cm_h2 cm_lh2 cm_prl05 cm_oh cm_fs09 "><a href="" class="cm_c8c">5万元存款如何理财5万元存款如何理财</a></li>
        <% } %>
    </ul>
</div>

<div class="cm_bf cm_pd2">
    <div class="cm_h2 cm_lh2 cm_bb1ce">
        <h3 class="cm_fs13 ">精选推荐</h3>
    </div>
    <ul class="cm_row cm_mtb08">
        <% for(var i=0;i<12;i++){ %>
        <li class="cm_pc_6 cm_h2 cm_lh2 cm_prl05 cm_oh cm_fs09 "><a href="" class="cm_c8c">5万元存款如何理财5万元存款如何理财</a></li>
        <% } %>
    </ul>
</div>