<div class="cm_bf">
    <ul class="cm_prl105">
        <% for(var i=0;i<5;i++){%>
            <li >
                <h2 class="cm_bb1c5 cm_h305 cm_lh305 "><span class="cm_fs18 cm_bb3c1 cm_dib ">11 </span><a class="cm_fr cm_fs08 cm_c8c" href="/" target="_blank" title="更多">更多>></a></h2>
                <div class="cm_oh ">
                    <%for(var j=0; j<5;j++){ %>
                            <ul class="cm_fl cm_pc_4 ">
                                <li class="cm_h305 cm_fs1 cm_pd1 cm_fw700 cm_c1c">网贷</li>
                                <% for(var k=0;k<5;k++){ %>
                                    <li class="cm_fl cm_pc_4 cm_tc cm_pd05 cm_h2 cm_oh cm_fs09 cm_mb1 "><a class="cm_c8c" href="#">束带结发惊世毒妃框架啊打开是福建安防</a></li>
                                <% } %>
                            </ul>
                       <%}%>
                </div>
            </li>
        <% }%>
    </ul>
</div>
