<div class="cm_pc_4 cm_prl1">
    <div class="cm_h2 cm_lh2  cm_bb1c5 cm_mrl1">
        <h3 class="cm_fs13">热门百科</h3>

    </div>
    <ul>
      <%  for(var i=0;i<4;i++){ %>
            <li class="cm_pc_6 cm_pd05 ">
                <ul>
                    <% for(var j=0;j<6;j++){ %>
                        <li class="cm_h105 cm_lh105 cm_oh"><span class="cm_prl05 cm_fs13">.</span><a class="cm_fs09 cm_c8c" href="">跟着跟着专跟着专跟着专跟着专跟着专跟着专专跟着专家</a></li>
                    <% } %>
                </ul>
            </li>
       <% } %>
    </ul>
</div>