<div class=" cm_bf cm_pd2">
    <div class=" cm_h205 cm_lh205 cm_fs13 cm_bb1cc">
        <h3>相关资讯</h3>
    </div>
    <div class="">
        <ul>
            <%  for(var i=0;i<8;i++){  %>
            <li class=" cm_h205 cm_lh205 cm_c4c cm_oh">
                <span class="cm_prl05 cm_fs15">.</span>
                <span class="">
                    <a href="" title target="_blank" class="cm_c8c ">
                       真银币的锈色是历史的烙印，很难去掉，用碱水沸煮而不退真银币的锈色是历史的烙印，很难去掉，用碱水沸煮而不退真银币的锈色是历史的烙印，很难去掉，用碱水沸煮而不退
                    </a>
                </span>
              
            </li>
            <% } %>
          
        </ul>
    </div>

</div>
