<div class="cm_main2 cm_pc_12 cm_bf">
    <div class="cm_main">
        <ul class="cm_pc_12">
            <li class="cm_pc cm_pc_12 cm_mtb05">
                <div class="cm_pc_6">
                        <% include ../components/common_keyword.html%>
                </div>
                <div class="cm_pc_6">
                        <% include ../components/search.html%>
                </div>
            </li>
            <li class="">
                <% include ../components/mobile_column_head.html%>
            </li>
        </ul>
    </div>
</div>