<div class="cm_pc cm_main">
    <div class="cm_row">
        <div class="cm_pc_12 cm_c8c cm_c6b">
            <h3 class="cm_pa cm_tl0 cm_z2 cm_hl3 cm_ml05">
                <a href="javascript:void(0)" target="_blank" class="cm_c8c">欢迎来到P2P网贷网站【互金跟投】</a>
            </h3>
            <div class="cm_pc_12 cm_pr cm_hl3">
                <div class="cm_pa cm_tr0">
                    <div class="cm_fl"><img class="cm_fl cm_mt1 cm_r0e cm_bs100" src="<%=site.path%>/images/index/icon_phone.png" /></div>
                    <ul class="cm_fl cm_hl3" id="head_menu">
                        <li class="cm_fl">手机版</li>
                        <li class="cm_fl cm_mrl02">|</li>
                        <li class="cm_fl">微信公众号</li>
                        <li class="cm_fl cm_mrl02">|</li>
                        <li class="cm_fl">网站导航</li>
                        <li class="cm_fl"><img class="cm_fl cm_mt1 cm_r0e cm_bs100" src="<%=site.path%>/images/index/arrow_down_black.png" /></li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="cm_pc_12 cm_pr cm_dn" id="head_menu_pop">
            <li class="cm_pa cm_tr0 cm_z99 cm_w100 cm_dn">
                <img class="cm_pa cm_tr0 cm_mr5" src="/images/index/wap.png" width="151" height="176">
            </li>
            <li class="cm_pa cm_tr0 cm_z99 cm_w100">
                <img class="cm_pa cm_tr0 cm_mr05" src="/images/index/weixin.png" width="151" height="176">
            </li>
            <li class="cm_pa cm_tl0 cm_z99 cm_w100 cm_minh13 cm_bf cm_dn" style="z-index:1000!important;" id="head_map">
                <ul class="cm_pc_12 cm_pr cm_minh13 cm_mb05">
                    <li class="cm_pc_3 cm_pr cm_tc">
                        <h3 class="cm_pc_12 cm_hl205">两性关系</h3>
                        <div class="cm_pc_12 cm_pr">
                            <%for(var i=0;i<9;i++){%>
                                <div class="cm_pc_6 cm_pr cm_lh2">
                                    <a class="cm_fs09 cm_c8c" href="#" target="_blank" title="网站地图">两性推荐</a>
                                </div>
                                <%}%>
                        </div>
                    </li>
                    <li class="cm_pc_3 cm_pr cm_tc">
                        <div class="cm_pa cm_tl0 cm_bl1cc cm_h9 cm_mt3"></div>
                        <h3 class="cm_pc_12 cm_hl205">两性百科</h3>
                        <div class="cm_pc_12 cm_pr">
                            <%for(var i=0;i<9;i++){%>
                                <div class="cm_pc_6 cm_pr cm_lh2">
                                    <a class="cm_fs09 cm_c8c" href="#" target="_blank" title="网站地图">两性推荐</a>
                                </div>
                                <%}%>
                        </div>
                    </li>
                    <li class="cm_pc_4 cm_pr cm_tc">
                        <div class="cm_pa cm_tl0 cm_bl1cc cm_h9 cm_mt3"></div>
                        <h3 class="cm_pc_12 cm_hl205">两性推荐</h3>
                        <div class="cm_pc_12 cm_pr">
                            <%for(var i=0;i<9;i++){%>
                                <div class="cm_pc_6 cm_pr cm_lh2">
                                    <a class="cm_fs09 cm_c8c" href="#" target="_blank" title="网站地图">两性推荐两性推荐两性</a>
                                </div>
                                <%}%>
                        </div>
                    </li>
                    <li class="cm_pc_2 cm_pr">
                        <div class="cm_pa cm_tl0 cm_bl1cc cm_h9 cm_mt3"></div>
                        <h3 class="cm_pc_12 cm_hl205 cm_tc">更多频道</h3>
                        <div class="cm_pc_12 cm_pr">
                            <%for(i in menu){%>
                                <div class="cm_pc_6 cm_pr cm_lh2 cm_ti05">
                                    <a class="cm_fs09 cm_c8c" href="<%=menu[i].url%>" target="_blank" title="<%=menu[i].Name%>"><%=menu[i].Name%></a>
                                </div>
                            <%}%>
                            <div class="cm_pc_6 cm_pr cm_lh2 cm_ti05">
                                    <a class="cm_fs09 cm_c8c" href="<%=site.path%>/sitemap.html" target="_blank" title="网站地图">网站地图</a>
                                </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>