<div class="cm_main2 cm_c2b cm_cf cm_afc m_friend cm_oh">
    <div class="cm_main cm_bb1c5 m_friend_inner">
        <ul class="cm_row friend_ul">
            <li class="cm_pc_12  cm_prl20px cm_h3 cm_mt1 m_friend_tab" id="foot_friend">
                <div class="cm_fl cm_fc4 cm_hl2 cm_prl05 cm_br02 cm_mt05 cm_b1c1 cm_c1c">
                    <span class="cm_fs09">友情链接</span>
                </div>
                <div class="cm_fl cm_fc4 cm_hl2 cm_prl05 cm_br02 cm_mt05 cm_b1cf cm_c1f cm_ml05">
                    <span class="cm_fs09">网贷平台</span>
                </div>
                <div class="cm_fl cm_fc4 cm_hl2 cm_prl05 cm_br02 cm_mt05 cm_b1cf cm_c1f cm_ml05">
                    <span class="cm_fs09">网贷百科</span>
                </div>
                <div class="cm_fl cm_fc4 cm_hl2 cm_prl05 cm_br02 cm_mt05 cm_b1cf cm_c1f cm_ml05">
                    <span class="cm_fs09">热门关注</span>
                </div>
            </li>
            <li class="cm_pc_12  cm_minh8 m_friend_con" style="padding:20px 0;" id="foot_friend_list">
                <% for(var i1=0;i1<9;i1++){%>
                    <div class="cm_pc_12 cm_lh2 cm_wb_b <%if(i1>0){%>cm_dn<%}%>">
                        <ul class="cm_pc_12 cm_lh2 cm_pc m_friend_con_inner">
                            <% for(var i2=0;i2<9;i2++){%>
                            <li class="cm_pc_6f cm_pl20px cm_lh2 cm_oh">
                                <a class="cm_cf m_friend_con_link" href="/" title="/" target="_blank">seo</a>
                            </li>
                            <% }%>
                        </ul>
                        <ul class="cm_pc_12 cm_lh2 cm_mob">
                                <% for(var i3=0;i3<7;i3++){%>
                                <li class="cm_pc_6f cm_pl20px  cm_lh2 cm_oh">
                                    <a class="cm_cf" href="/" title="/" target="_blank">seo</a>
                                </li>
                            <% }%>
                        </ul>
                    </div>
                 <% }%>
            </li>
        </ul>
    </div>
</div>



