<div class="cm_main2 cm_minh8 cm_c2b cm_cf cm_afc">
    <div class="cm_main">
        <ul class="cm_row">
            <li class="cm_pc_12 cm_mtb1 cm_z2">
                <div class="foot_menu cm_tc">
                    <a class="" href="<%=site.path%>/about.html" target="_blank" rel="nofollow"><span class="">关于互金<span class="cm_pci">跟投</span></span></a> | 
                    <span class="cm_pc_i"><a class="" href="<%=site.path%>/about.html" target="_blank" rel="nofollow">关于我们</a> | </span>
                    <span class=""><a class="" href="<%=site.path%>/contact.html" target="_blank" rel="nofollow">联系我们</a> | </span>
                    <span class="cm_pc_i"><a class="" href="<%=site.path%>/law.html" target="_blank">服务条款</a> | </span>
                    <span class="cm_pc_i"><a class="" href="<%=site.path%>/link.html" target="_blank">友情链接</a> | </span>
                    <span class="cm_mob_i"><a class="" href="<%=site.path%>/law.html" target="_blank">服务条款</a> | </span>
                    <a class="" href="<%=site.path%>/sitemap.html" target="_blank">网站地图</a>
                </div>
            </li>
            <li class="cm_pc_12 cm_minh5 cm_tc foot_menu_02">
            	<a href="<%=site.path%>/" target="_blank"><%=site.name%></a> - 51hjgt.com 版权所有 <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备00000001号</a>
            </li>
        </ul>
    </div>
</div>

<style>
    @media screen and (max-width: 768px){
        .foot_menu a{
            font-size: 14px;
        }
        .foot_menu_02{
            font-size: 12px;
            color: #999;
            width: 280px;
            float: none;
            margin: 0 auto;
        }
    }


</style>