<% for(i1 in channels){%>
    <% if(i1!='pics'&&i1!='b'){%>
<li class="cm_pc_12 cm_bk01 cm_bt3c1 channelMain cm_pc">
        <h2 class="cm_pc_3 cm_hl3 cm_pl20px"><a href="<%=site.path%>/<%=channels[i1].Alias%>/" title="<%=channels[i1].Name%>" target="_blank"><span class="cm_fs15 cm_c1c"><%=channels[i1].Name%></span></a></h2>
        <div class="cm_pc_9 cm_hl3 cm_pr20px">
                <ul class="cm_fr cm_c4c">
                    <% var thisChildren=childrenList.filter(x=>x.ParentId==channels[i1].AggregateId);
                        for(i2 in thisChildren){%>
                        <li class="cm_fl"><a class="cm_fs11 cm_c4c" href="<%=site.path%>/<%=channels[i1].Alias%>/<%=thisChildren[i2].Alias%>/" title="<%=thisChildren[i2].Name%>" target="_blank"><%=thisChildren[i2].Name%></a></li>
                        <li class="cm_fl cm_mrl05">|</li>
                    <%}%>
                    <li class="cm_fl cm_pr"><a class="cm_fl cm_c1c" href="<%=site.path%>/<%=channels[i1].Alias%>/" title="<%=channels[i1].Name%>" target="_blank">MORE</a></li>
                    <li class="cm_fl cm_pr"><img class="index_column_btn" src="<%=site.path%>/images/index/6.png" width="6" height="8"></li>
                </ul>
        </div>		
    </li>
    <li class="cm_pc_12 cm_bf cm_mb20px cm_pc">
        <div class="cm_mob_12 cm_pc_3 cm_pl20pc cm_pr30pc cm_pc">
            <div class="cm_pc_12 cm_hl3">
                <span class="cm_fl cm_fs12 cm_c7c">排行榜</span>
                <img class="cm_fl cm_m1 cm_bs100" src="<%=site.path%>/images/index/2.png" width="135" height="15">
            </div>
            <ul class="cm_pc_12  cm_mb1">
                <% var thisRank=rankList.filter(x=>x.channelId==channels[i1].AggregateId);%>
                <% for(var i3=0,k3=1;i3<thisRank.length;i3++,k3++){%>
                    <li class="cm_pc_12 cm_bb1ce">
                        <span class="cm_pa cm_tl0 cm_wh1 cm_hl1 cm_tc cm_mtb05 cm_br02  <% if(i3<=2){ %>cm_c1b<% }else{ %>cm_c4b<% } %>  cm_cf"><span class="cm_fs07"><%=k3%></span></span>
                        <div class="cm_pc_12 cm_pl105 cm_pr0 cm_oh cm_hl2"><a class="cm_fs08 cm_c4c" href="<%=site.path%>/a/<%=moment( thisRank[i3].EditDate).format('YYYYMMDD')%><%= thisRank[i3].Id%>.html" title="<%= thisRank[i3].Title%>" target="_blank"><%=thisRank[i3].Title%></a></div>												
                    </li>
                <%}%>			
            </ul>
            <div class="cm_pc_12"><div class="cm_cf cm_tc index_title_bg"><span class="cm_fs08">热门标签</span></div></div>
            <ul class="cm_pc_12 cm_mb1">
                <% var hotTag=channelBody.filter(x=>x.CategoryId==channels[i1].AggregateId);
                    if(hotTag.length>0){
                        var hotTagContent=hotTag[0].Data.filter(x=>x.Position.RecommendType==9);
                            if(hotTagContent.length>0){
                            hotTagContent=hotTagContent[0].Content;
                            var newHotTag=[];
                            for(var i5=0,len=hotTagContent.length;i5<len;i5+=3){
                                newHotTag.push(hotTagContent.slice(i5,i5+3));
                            }
                            for(i6 in newHotTag){%>
                            <li class="cm_pc_12 cm_bb1ce">
                                <div class="cm_pc_12 cm_oh cm_hl2">
                                    <% var newHotTag2=newHotTag[i6];for(i7 in newHotTag2){%>
                                        <span class="cm_fs09 cm_c4c" style="display:inline-block;width:80px;">
                                            <a class="cm_fs09 cm_c4c" href="<%if(newHotTag2[i7].Url){%><%=newHotTag2[i7].Url%><%}else{%><%=site.path%>/a/<%=moment(newHotTag2[i7].EditDate).format('YYYYMMDD')%><%=newHotTag2[i7].Id%>.html<%}%>" title="<%=newHotTag2[i7].Title%>" target="_blank"><%=newHotTag2[i7].Title.substring(0,6)%></a>
                                        </span>
                                    <%}%>
                                </div>												
                            </li>	
                <%}}}%>	
            </ul>
        </div>
        <div class="cm_mob_12 cm_pc_9">
            <div class="cm_mob_12 cm_pc_6 cm_pr20pc">
                    <% include ../components/index_column_list01.html%>
                    <% include ../components/index_column_list02.html%>
            </div>				
            <div class="cm_mob_12 cm_pc_6 cm_prl20pc">
                    <% include ../components/index_column_list03.html%>
                    <% include ../components/index_column_list04.html%>
            </div>				
        </div>
        <div class="cm_mob_12 cm_mob">
            <div class="cm_pc_12 cm_hl3"><span class="cm_fs12 cm_c7c">排行榜</span></div>
            <ul class="cm_pc_12 cm_mb1">
                <% var thisRank=rankList.filter(x=>x.CategoryId==channels[i1].AggregateId);
                for(var i3=0,k3=1;i3<thisRank.length;i3++,k3++){%>
                    <li class="cm_pc_12 cm_bb1ce">
                        <span class="cm_pa cm_tl0 cm_wh1 cm_hl1 cm_tc cm_mtb05 cm_br02 <% if(i3<=2){ %>cm_c1b<% }else{ %>cm_c4b<% } %> cm_cf"><span class="cm_fs07"><%=k3%></span></span>
                        <div class="cm_pc_12 cm_pl105 cm_pr0 cm_oh cm_hl2"><a class="cm_fs08 cm_c4c" href="<%=site.path%>/a/<%=moment( thisRank[i3].EditDate).format('YYYYMMDD')%><%= thisRank[i3].Id%>.html" title="<%= thisRank[i3].Title%>" target="_blank"><%=thisRank[i3].Title%></a></div>												
                    </li>
                <%}%>		
            </ul>
            <div class="cm_pc_12"><div class="cm_cf cm_tc index_title_bg"><span class="cm_fs08">热门标签</span></div></div>
            <ul class="cm_pc_12  cm_mb1">
                <% var hotTag=channelBody.filter(x=>x.CategoryId==channels[i1].AggregateId);
                    if(hotTag.length>0){
                        var hotTagContent=hotTag[0].Data.filter(x=>x.Position.RecommendType==9);
                            if(hotTagContent.length>0){
                            hotTagContent=hotTagContent[0].Content;
                            var newHotTag=[];
                            for(var i5=0,len=hotTagContent.length;i5<len;i5+=3){
                                newHotTag.push(hotTagContent.slice(i5,i5+3));
                            }
                            for(i6 in newHotTag){%>
                            <li class="cm_pc_12 cm_bb1ce">
                                <div class="cm_pc_12 cm_oh cm_hl2">
                                    <% var newHotTag2=newHotTag[i6];for(i7 in newHotTag2){%>
                                        <a class="cm_fs08 cm_c4c" href="<%if(newHotTag2[i7].Url){%><%=newHotTag2[i7].Url%><%}else{%><%=site.path%>/a/<%=moment(newHotTag2[i7].EditDate).format('YYYYMMDD')%><%=newHotTag2[i7].Id%>.html<%}%>" title="<%=newHotTag2[i7].Title%>" target="_blank"><%=newHotTag2[i7].Title%></a>
                                    <%}%>
                                </div>												
                            </li>	
                <%}}}%>		
            </ul>
        </div>			
    </li>
    <%}%>
<%}%>




<li class="cm_mob cm_row" >
    <% for(i1 in channels){%>
    <% if(i1!='pics'&&i1!='b'){%>
    <div class="column cm_row" style="background:#fff;">
        <div class="column_name cm_mob_12">
            <h2 ><%=channels[i1].Name%></h2>
        </div>
        <% var thisBody=channelBody.filter(x=>x.CategoryId==channels[i1].AggregateId);%>
         <% if(thisBody.length>0){%>
        
        <div class="column_child cm_row">
            <div class="column_ul">
                <% var left1Column=thisBody[0].Data.filter(x=>x.Position.RecommendType==10);
                    if(left1Column.length>0){
                        left1Column=left1Column[0].Position.RelatedId;
                        var left1Column2=childrenList.filter(x=>x.ParentId==channels[i1].AggregateId);
                        left1Column=left1Column2.filter(x=>x.AggregateId==left1Column);
                        if(left1Column.length>0){%>
                            <span class="active"><%=left1Column[0].Name%></span>
                <% }}%>
                <% var left2Column=thisBody[0].Data.filter(x=>x.Position.RecommendType==18); %>
                    <% if(left2Column.length>0){
                        left2Column=left2Column[0].Position.RelatedId;
                        var left2Column2=childrenList.filter(x=>x.ParentId==channels[i1].AggregateId);
                        left2Column=left2Column2.filter(x=>x.AggregateId==left2Column);
                        if(left2Column.length>0){%>
                            <span class=""><%=left2Column[0].Name%></span>
                <% }}%>
                <% var right1Column=thisBody[0].Data.filter(x=>x.Position.RecommendType==14);%>
                    <% if(right1Column.length>0){
                        right1Column=right1Column[0].Position.RelatedId;
                        var right1Column2=childrenList.filter(x=>x.ParentId==channels[i1].AggregateId);
                        right1Column=right1Column2.filter(x=>x.AggregateId==right1Column);
                        if(right1Column.length>0){%>
                            <span class=""><%=right1Column[0].Name%></span>
                <% }}%>
                <% var right2Column=thisBody[0].Data.filter(x=>x.Position.RecommendType==22);
                    if(right2Column.length>0){
                        right2Column=right2Column[0].Position.RelatedId;
                        var right2Column2=childrenList.filter(x=>x.ParentId==channels[i1].AggregateId);
                        right2Column=right2Column2.filter(x=>x.AggregateId==right2Column);
                        if(right2Column.length>0){%>
                            <span class=""><%=right2Column[0].Name%></span>
                <% }}%>
                
            </div>
            <div class="column_body">
                <div class=" cm_mob_12 body_main cm_row">
                    <div class="cm_mob_12 body_mag">
                        <%  var left1Right=thisBody[0].Data.filter(x=>x.Position.RecommendType==11);%>
                           <% if(left1Right.length>0){
                                left1Right=left1Right[0].Content;
                                for(i7 in left1Right){%>
                                    <span class="" ><a class="cm_c4c" style="font-size:14px;" href="<%if(left1Right[i7].Url){%><%=left1Right[i7].Url%><%}else{%><%=site.path%>/a/<%=moment(left1Right[i7].EditDate).format('YYYYMMDD')%><%=left1Right[i7].Id%>.html<%}%>" title="<%=left1Right[i7].Title%>" target="_blank"><%=left1Right[i7].Title%></a></span>
                            <% }%>
                            <% } %>
                         
                    </div>
                    <div class="setea cm_mob_12" >
                        <div class="cm_pc_12 cm_c5c ">
                            <div class="cm_pa cm_tl0 cm_z2 cm_w705 cm_h6 cm_tc ImgSpage">
                                    <% if(thisBody.length>0){%>
                                        <% var left1Image=thisBody[0].Data.filter(x=>x.Position.RecommendType==13);
                                            if(left1Image.length>0){
                                                left1Image=left1Image[0].Content;
                                                if(left1Image.length>0){%>
                                                    <div class="cm_wh100  " >
                                                        <a class="" href="<%if(left1Image[0].Url){%><%=left1Image[0].Url%><%}else{%><%=site.path%>/a/<%=moment(left1Image[0].EditDate).format('YYYYMMDD')%><%=left1Image[0].Id%>.html<%}%>" title="<%=left1Image[0].Title%>" target="_blank"><img class="cm_wh100 cm_bs100 lazy" data-original="<%=left1Image[0].Thumbnail%>"/></a>
                                                    </div>
                                                    <a class="" href="<%if(left1Image[0].Url){%><%=left1Image[0].Url%><%}else{%><%=site.path%>/a/<%=moment(left1Image[0].EditDate).format('YYYYMMDD')%><%=left1Image[0].Id%>.html<%}%>" title="<%=left1Image[0].Title%>" target="_blank"><span class="cm_pa cm_bl0 cm_z2 cm_o08 cm_w100 cm_hl2 cm_bk02 cm_cf" style="font-size:12px;"><%=left1Image[0].Title%></span></a>
                                                <%}else{%>
                                                    <div class="cm_wh100 ">
                                                        <img class="cm_wh100 cm_bs100 lazy" data-original="<%=site.path%>/images/noImg/10.png"/>
                                                    </div>
                                        <% }}%>
                                    <%}%>
                            </div>
                            <ul class="cm_pc_12 cm_pl8 cm_pr0 cm_minh6">
                                    <% if(thisBody.length>0){%>
                                        <% var left1Article=thisBody[0].Data.filter(x=>x.Position.RecommendType==12);
                                            if(left1Article.length>0){
                                                left1Article=left1Article[0].Content;
                                                for(i8 in left1Article){
                                                    if(i8<4){%>
                                                    <li class="cm_pc_12 cm_hl1 cm_oh cm_mb05 <%if(i8==0){%>cm_mt02<%}%> left1Article" style="font-size:15px;"><a class="<%if(i8==0){%>cm_c7c<%}else{%>cm_fs09 cm_c5c<%}%> cm_fwb" href="<%if(left1Article[i8].Url){%><%=left1Article[i8].Url%><%}else{%><%=site.path%>/a/<%=moment(left1Article[i8].EditDate).format('YYYYMMDD')%><%=left1Article[i8].Id%>.html<%}%>" title="<%=left1Article[i8].Title%>" target="_blank"><%=left1Article[i8].Title%></a></li>
                                        <% }}}%>
                                    <%}%>								
                            </ul>
                        </div>
                        <ul class="cm_pc_12 cm_minh6 cm_lh2 cm_c7c ">
                                <% if(thisBody.length>0){%>
                                    <% var left1Article2=thisBody[0].Data.filter(x=>x.Position.RecommendType==12);%>
                                    <%  if(left1Article2.length>0){
                                            left1Article2=left1Article2[0].Content;
                                            for(i9 in left1Article2){
                                                if(i9>=4&&i9<7){%>
                                                <li class="cm_pc_12 left1Article2" style="height:30px;overflow:hidden;"><a class="cm_c7c" style="font-size:13px;" href="<%if(left1Article2[i9].Url){%><%=left1Article2[i9].Url%><%}else{%><%=site.path%>/a/<%=moment(left1Article2[i9].EditDate).format('YYYYMMDD')%><%=left1Article2[i9].Id%>.html<%}%>" title="<%=left1Article2[i9].Title%>" target="_blank"><%=left1Article2[i9].Title%></a></li>
                                    <% }}}%>
                                <%}%>
                        </ul>
                    </div>
                    
                    
                </div>
                <div class="cm_mob_12 body_main hide ">
                    <div class="cm_mob_12 body_mag">
                        <%  var left2Right=thisBody[0].Data.filter(x=>x.Position.RecommendType==19);%>
                            <%if(left2Right.length>0){
                                left2Right=left2Right[0].Content;
                                for(i7 in left2Right){%>
                                    <span class="" ><a class="cm_c4c" style="font-size:14px;" href="<%if(left2Right[i7].Url){%><%=left2Right[i7].Url%><%}else{%><%=site.path%>/a/<%=moment(left2Right[i7].EditDate).format('YYYYMMDD')%><%=left2Right[i7].Id%>.html<%}%>" title="<%=left2Right[i7].Title%>" target="_blank"><%=left2Right[i7].Title%></a></span>
                        <%}}%>	
                        
                    </div>
                    <div class="setea cm_mob_12">
                        <div class="cm_pc_12 cm_c5c ">
                            <div class="cm_pa cm_tl0 cm_z2 cm_w705 cm_h6 cm_tc ImgSpage">
                                    <% if(thisBody.length>0){%>
                                        <% var left2Image=thisBody[0].Data.filter(x=>x.Position.RecommendType==21);
                                            if(left2Image.length>0){
                                                left2Image=left2Image[0].Content;
                                                if(left2Image.length>0){%>
                                                    <div class="cm_wh100  ">
                                                        <a class="" href="<%if(left2Image[0].Url){%><%=left2Image[0].Url%><%}else{%><%=site.path%>/a/<%=moment(left2Image[0].EditDate).format('YYYYMMDD')%><%=left2Image[0].Id%>.html<%}%>" title="<%=left2Image[0].Title%>" target="_blank"><img class="cm_wh100 cm_bs100 lazy" data-original="<%=left2Image[0].Thumbnail%>"/></a>
                                                    </div>
                                                    <a class="" href="<%if(left2Image[0].Url){%><%=left2Image[0].Url%><%}else{%><%=site.path%>/a/<%=moment(left2Image[0].EditDate).format('YYYYMMDD')%><%=left2Image[0].Id%>.html<%}%>" title="<%=left2Image[0].Title%>" target="_blank"><span  class="cm_pa cm_bl0 cm_z2 cm_o08 cm_w100 cm_hl2 cm_bk02 cm_cf" style="font-size:12px;"><%=left2Image[0].Title%></span></a>
                                                <%}else{%>
                                                    <div class="cm_wh100 ">
                                                        <img class="cm_wh100 cm_bs100 lazy" data-original="<%=site.path%>/images/noImg/10.png"/>
                                                    </div>
                                        <% }}%>
                                    <%}%>
                            </div>
                            <ul class="cm_pc_12 cm_pl8 cm_pr0 cm_minh6">
                                    <% if(thisBody.length>0){%>
                                        <% var left2Article=thisBody[0].Data.filter(x=>x.Position.RecommendType==20);
                                            if(left2Article.length>0){
                                                left2Article=left2Article[0].Content;
                                                for(i8 in left2Article){
                                                    if(i8<4){%>
                                                    <li class="cm_pc_12 cm_hl1 cm_oh cm_mb05 <%if(i8==0){%>cm_mt02<%}%> left2Article" style="font-size:15px;"><a class="<%if(i8==0){%>cm_c7c<%}else{%>cm_fs09 cm_c5c<%}%> cm_fwb" href="<%if(left2Article[i8].Url){%><%=left2Article[i8].Url%><%}else{%><%=site.path%>/a/<%=moment(left2Article[i8].EditDate).format('YYYYMMDD')%><%=left2Article[i8].Id%>.html<%}%>" title="<%=left2Article[i8].Title%>" target="_blank"><%=left2Article[i8].Title%></a></li>
                                        <% }}}%>
                                    <%}%>								
                            </ul>
                        </div>
                        <ul class="cm_pc_12 cm_minh6 cm_lh2 cm_c7c">
                                <% if(thisBody.length>0){%>
                                    <% var left2Article2=thisBody[0].Data.filter(x=>x.Position.RecommendType==20);
                                        if(left2Article2.length>0){
                                            left2Article2=left2Article2[0].Content;
                                            for(i9 in left2Article2){
                                                if(i9>=4&&i9<7){%>
                                                <li class="cm_pc_12 left2Article2" style="height:30px;overflow:hidden;"><a class="cm_c7c" style="font-size:13px;"  href="<%if(left2Article2[i9].Url){%><%=left2Article2[i9].Url%><%}else{%><%=site.path%>/a/<%=moment(left2Article2[i9].EditDate).format('YYYYMMDD')%><%=left2Article2[i9].Id%>.html<%}%>" title="<%=left2Article2[i9].Title%>" target="_blank"><%=left2Article2[i9].Title%></a></li>
                                    <% }}}%>
                                <%}%>
                        </ul>
                    </div>
                    
                </div>
                <div class=" cm_mob_12 body_main hide">
                    <div class="cm_mob_12 body_mag">
                        <%  var right1Right=thisBody[0].Data.filter(x=>x.Position.RecommendType==15);%>
                            <% if(right1Right.length>0){
                                right1Right=right1Right[0].Content;
                                for(i7 in right1Right){%>
                                    <span class="" ><a class="cm_c4c" style="font-size:14px;" href="<%if(right1Right[i7].Url){%><%=right1Right[i7].Url%><%}else{%><%=site.path%>/a/<%=moment(right1Right[i7].EditDate).format('YYYYMMDD')%><%=right1Right[i7].Id%>.html<%}%>" title="<%=right1Right[i7].Title%>" target="_blank"><%=right1Right[i7].Title%></a></span>
                        <%}}%>	
                        
                    </div>
                    <div class="setea cm_mob_12">
                        <div class="cm_pc_12 cm_c5c ">
                            <div class="cm_pa cm_tl0 cm_z2 cm_w705 cm_h6 cm_tc ImgSpage">
                                    <% if(thisBody.length>0){%>
                                        <% var right1Image=thisBody[0].Data.filter(x=>x.Position.RecommendType==17);
                                            if(right1Image.length>0){
                                                right1Image=right1Image[0].Content;
                                                if(right1Image.length>0){%>
                                                    <div class="cm_wh100 ">
                                                        <a class="" href="<%if(right1Image[0].Url){%><%=right1Image[0].Url%><%}else{%><%=site.path%>/a/<%=moment(right1Image[0].EditDate).format('YYYYMMDD')%><%=right1Image[0].Id%>.html<%}%>" title="<%=right1Image[0].Title%>" target="_blank"><img class="cm_wh100 cm_bs100 lazy" data-original="<%=right1Image[0].Thumbnail%>"/></a>
                                                    </div>
                                                    <a class="" href="<%if(right1Image[0].Url){%><%=right1Image[0].Url%><%}else{%><%=site.path%>/a/<%=moment(right1Image[0].EditDate).format('YYYYMMDD')%><%=right1Image[0].Id%>.html<%}%>" title="<%=right1Image[0].Title%>" target="_blank"><span style="font-size:12px;" class="cm_pa cm_bl0 cm_z2 cm_o08 cm_w100 cm_hl2 cm_bk02 cm_cf"><%=right1Image[0].Title%></span></a>
                                                <%}else{%>
                                                    <div class="cm_wh100 ">
                                                        <img class="cm_wh100 cm_bs100 lazy" data-original="<%=site.path%>/images/noImg/10.png"/>
                                                    </div>
                                        <% }}%>
                                    <%}%>
                            </div>
                            <ul class="cm_pc_12 cm_pl8 cm_pr0 cm_minh6">
                                    <% if(thisBody.length>0){%>
                                        <% var right1Article=thisBody[0].Data.filter(x=>x.Position.RecommendType==16);
                                            if(right1Article.length>0){
                                                right1Article=right1Article[0].Content;
                                                for(i8 in right1Article){
                                                    if(i8<4){%>
                                                    <li class="cm_pc_12 cm_hl1 cm_oh cm_mb05 <%if(i8==0){%>cm_mt02<%}%> right1Article" style="font-size:15px;"><a class="<%if(i8==0){%>cm_c7c<%}else{%>cm_fs09 cm_c5c<%}%> cm_fwb" href="<%if(right1Article[i8].Url){%><%=right1Article[i8].Url%><%}else{%><%=site.path%>/a/<%=moment(right1Article[i8].EditDate).format('YYYYMMDD')%><%=right1Article[i8].Id%>.html<%}%>" title="<%=right1Article[i8].Title%>" target="_blank"><%=right1Article[i8].Title%></a></li>
                                        <% }}}%>
                                    <%}%>								
                            </ul>
                        </div>
                        <ul class="cm_pc_12 cm_minh6 cm_lh2 cm_c7c ">
                                <% if(thisBody.length>0){%>
                                    <% var right1Article2=thisBody[0].Data.filter(x=>x.Position.RecommendType==16);
                                        if(right1Article2.length>0){
                                            right1Article2=right1Article2[0].Content;
                                            for(i9 in right1Article2){
                                                if(i9>=4&&i9<7){%>
                                                <li class="cm_pc_12 right1Article2" style="height:30px;overflow:hidden;"><a style="font-size:13px;" class="cm_c7c" href="<%if(right1Article2[i9].Url){%><%=right1Article2[i9].Url%><%}else{%><%=site.path%>/a/<%=moment(right1Article2[i9].EditDate).format('YYYYMMDD')%><%=right1Article2[i9].Id%>.html<%}%>" title="<%=right1Article2[i9].Title%>" target="_blank"><%=right1Article2[i9].Title%></a></li>
                                    <% }}}%>
                                <%}%>
                        </ul>
                    </div>
                    
                </div>
                <div class=" cm_mob_12 body_main hide">
                    <div class="cm_mob_12 body_mag">
                        <%  var right2Right=thisBody[0].Data.filter(x=>x.Position.RecommendType==23);
                            if(right2Right.length>0){
                                right2Right=right2Right[0].Content;
                                for(i7 in right2Right){%>
                                    <span class="" ><a class="cm_c4c" style="font-size:14px;" href="<%if(right2Right[i7].Url){%><%=right2Right[i7].Url%><%}else{%><%=site.path%>/a/<%=moment(right2Right[i7].EditDate).format('YYYYMMDD')%><%=right2Right[i7].Id%>.html<%}%>" title="<%=right2Right[i7].Title%>" target="_blank"><%=right2Right[i7].Title%></a></span>
                        <%}}%>	
                        
                    </div>
                    <div class="setea cm_mob_12">
                        <div class="cm_pc_12 cm_c5c ">
                            <div class="cm_pa cm_tl0 cm_z2 cm_w705 cm_h6 cm_tc ImgSpage">
                                    <% if(thisBody.length>0){%>
                                        <% var right2Image=thisBody[0].Data.filter(x=>x.Position.RecommendType==25);
                                            if(right2Image.length>0){
                                                right2Image=right2Image[0].Content;
                                                if(right2Image.length>0){%>
                                                    <div class="cm_wh100 ">
                                                        <a class="" href="<%if(right2Image[0].Url){%><%=right2Image[0].Url%><%}else{%><%=site.path%>/a/<%=moment(right2Image[0].EditDate).format('YYYYMMDD')%><%=right2Image[0].Id%>.html<%}%>" title="<%=right2Image[0].Title%>" target="_blank"><img class="cm_wh100 cm_bs100 lazy" data-original="<%=right2Image[0].Thumbnail%>"/></a>
                                                    </div>
                                                    <a class="" href="<%if(right2Image[0].Url){%><%=right2Image[0].Url%><%}else{%><%=site.path%>/a/<%=moment(right2Image[0].EditDate).format('YYYYMMDD')%><%=right2Image[0].Id%>.html<%}%>" title="<%=right2Image[0].Title%>" target="_blank"><span style="font-size:12px;" class="cm_pa cm_bl0 cm_z2 cm_o08 cm_w100 cm_hl2 cm_bk02 cm_cf"><%=right2Image[0].Title%></span></a>
                                                <%}else{%>
                                                    <div class="cm_wh100 ">
                                                        <img class="cm_wh100 cm_bs100 lazy" data-original="<%=site.path%>/images/noImg/10.png"/>
                                                    </div>
                                        <% }}%>
                                    <%}%>
                            </div>
                            <ul class="cm_pc_12 cm_pl8 cm_pr0 cm_minh6">
                                    <% if(thisBody.length>0){%>
                                        <% var right2Article=thisBody[0].Data.filter(x=>x.Position.RecommendType==24);
                                            if(right2Article.length>0){
                                                right2Article=right2Article[0].Content;
                                                for(i8 in right2Article){
                                                    if(i8<4){%>
                                                    <li class="cm_pc_12 cm_hl1 cm_oh cm_mb05 <%if(i8==0){%>cm_mt02<%}%> right2Article" style="font-size:15px;"><a class="<%if(i8==0){%>cm_c7c<%}else{%>cm_fs09 cm_c5c<%}%> cm_fwb" href="<%if(right2Article[i8].Url){%><%=right2Article[i8].Url%><%}else{%><%=site.path%>/a/<%=moment(right2Article[i8].EditDate).format('YYYYMMDD')%><%=right2Article[i8].Id%>.html<%}%>" title="<%=right2Article[i8].Title%>" target="_blank"><%=right2Article[i8].Title%></a></li>
                                        <% }}}%>
                                    <%}%>								
                            </ul>
                        </div>
                        <ul class="cm_pc_12 cm_minh6 cm_lh2 cm_c7c ">
                                <% if(thisBody.length>0){%>
                                    <% var right2Article2=thisBody[0].Data.filter(x=>x.Position.RecommendType==24);
                                        if(right2Article2.length>0){
                                            right2Article2=right2Article2[0].Content;
                                            for(i9 in right2Article2){
                                                if(i9>=4&&i9<7){%>
                                                <li class="cm_pc_12 right2Article2" style="height:30px;overflow:hidden;"><a style="font-size:13px;" class="cm_c7c" href="<%if(right2Article2[i9].Url){%><%=right2Article2[i9].Url%><%}else{%><%=site.path%>/a/<%=moment(right2Article2[i9].EditDate).format('YYYYMMDD')%><%=right2Article2[i9].Id%>.html<%}%>" title="<%=right2Article2[i9].Title%>" target="_blank"><%=right2Article2[i9].Title%></a></li>
                                    <% }}}%>
                                <%}%>
                        </ul>
                    </div>
                   
                </div>
                
                
            </div>
            <div class="cm_mob_12 hots ">
                        <ul class="hots_head">
                            <li class="flag"><%=channels[i1].Name%>排行榜</li>
                            <li>热门标签</li>
                        </ul>
                        <div>
                            <ul class="cm_pc_12  cm_mb1">
                                <% var thisRank=rankList.filter(x=>x.channelId==channels[i1].AggregateId);%>
                                <% for(var i3=0,k3=1;i3<thisRank.length;i3++,k3++){%>
                                    <li class="cm_pc_12 cm_bb1ce">
                                        <span class="cm_pa cm_tl0 cm_wh1 cm_hl1 cm_tc cm_mtb05 cm_br02 <% if(i3<=2){ %>cm_c1b<% }else{ %>cm_c4b<% } %> cm_cf"><span class="cm_fs07"><%=k3%></span></span>
                                        <div class="cm_pc_12 cm_pl105 cm_pr0 cm_oh cm_hl2"><a class="cm_fs08 cm_c4c" href="<%=site.path%>/a/<%=moment( thisRank[i3].EditDate).format('YYYYMMDD')%><%= thisRank[i3].Id%>.html" title="<%= thisRank[i3].Title%>" target="_blank"><%=thisRank[i3].Title%></a></div>												
                                    </li>
                                <%}%>			
                            </ul>
                             <ul class="cm_pc_12  cm_mb1 hide">
                                <% var hotTag=channelBody.filter(x=>x.CategoryId==channels[i1].AggregateId);
                                    if(hotTag.length>0){
                                        var hotTagContent=hotTag[0].Data.filter(x=>x.Position.RecommendType==9);
                                            if(hotTagContent.length>0){
                                            hotTagContent=hotTagContent[0].Content;
                                            var newHotTag=[];
                                            for(var i5=0,len=hotTagContent.length;i5<len;i5+=3){
                                                newHotTag.push(hotTagContent.slice(i5,i5+3));
                                            }
                                            for(i6 in newHotTag){%>
                                            <li class="cm_pc_12 cm_bb1ce">
                                                <div class="cm_pc_12 cm_oh cm_hl2">
                                                    <% var newHotTag2=newHotTag[i6];for(i7 in newHotTag2){%>
                                                        <a  class="cm_fs08 cm_c4c cm_mob_4" href="<%if(newHotTag2[i7].Url){%><%=newHotTag2[i7].Url%><%}else{%><%=site.path%>/a/<%=moment(newHotTag2[i7].EditDate).format('YYYYMMDD')%><%=newHotTag2[i7].Id%>.html<%}%>" title="<%=newHotTag2[i7].Title%>" target="_blank"><%=newHotTag2[i7].Title%></a>
                                                    <%}%>
                                                </div>												
                                            </li>	
                                <%}}}%>		
                            </ul>

                        </div>

                    </div>

                    <div class="moreMag cm_mob_12">
                        <a href="<%=site.path%>/<%=channels[i1].Alias%>/">进入<%=channels[i1].Name%>频道>></a>
                    </div>
        </div>
        <% } %>
    </div>

    <% } %>
    <% } %>
    
    
    

</li>



<style>
    @media (max-width: 768px){
        .hide{
            display: none!important;
        }
        .column_name{
            border-bottom: 1px solid #ddd;
        }
        .column_name h2{
            height: 45px;
            line-height: 45px;
            font-size: 15px;
            color: #faf9f9;
            font-weight: 700;
            display: inline-block;
            margin: 0 20px;
            
        }
        .column_head li{
            font-size: 13px;
            color: #333;
            height: 40px;
            text-align: center;
            line-height: 40px;
            margin: 0 20px;
        }
        .column_child .column_ul>span{
            display: inline-block;
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 13px;
            padding: 0 20px;
            border-radius: 10%;
            

        }
        .column_child .column_ul{
            clear: both;
            overflow: scroll;
            white-space:nowrap; 

        }
        .column_child .column_ul>span.active{
            color: #fff;
            background: url('./../../images/pics/bn_1.png') no-repeat center;
            background-size: 100% 80%;
        }
        .column_body .body_mag{
            background: #f8effa;
            overflow: scroll;
            white-space:nowrap; 
        }
        .column_body .body_mag>span{
            display: inline-block;
            height: 27px;
            line-height: 31px;
            font-size: 12px;
            color: #faf9f9;
            margin: 0 21px;
            overflow: hidden;

        }
        .body_main .setea{
            padding: 20px 20px;
        }
        .column_child .hots{
            padding: 0 20px;
        }
        .column_child .hots .hots_head{
            border-bottom: 1px solid #ddd;
        }
        .column_child .hots .hots_head li{
            display: inline-block;
            height: 45px;
            line-height: 45px;
            padding: 0 5px;

        }
        .column_child .hots .hots_head li.flag{
            border-bottom: 3px solid #cea770;
        }
        .column_child .moreMag{
            height: 50px;
            background: #f6f6f6;
            text-align: center;
            line-height: 50px;
            
        }
        .column_child .moreMag a{
            color: #cea770;
        }
    }
</style>