<li class="cm_pc_12 cm_bf cm_pb20px baikeMain cm_pc">
    <div class="cm_row cm_prl20px">
        <ul class="cm_pc_12">
                <li class="cm_pc_12 cm_be cm_c7c" id="foot_baike">
                    <%for(var i4=0;i4<9;i4++){%>
                        <div class="cm_fl cm_fc4 cm_hl205 cm_prl20px <%if(i4==0){%>cm_bt2c1 cm_c1c<%}else{%>cm_bl1cf<%}%>">
                            <span class="cm_fs09">123445</span>
                        </div>
                    <%}%>
                </li>
                <li class="cm_pc_12 cm_b1ce cm_minh8" id="foot_baike_list" >
                    <ul class="cm_pc_12 cm_pr cm_lh2 baikeColumn01">
                        <% for(var i=0;i<9;i++){%>
                            <li class="cm_pc_6f cm_pl20px" style="height:32px;overflow:hidden;">
                                <a class="" href="123" title="123" target="_blank">123</a>
                            </li>
                        <% }%>
                    </ul>    
                </li>
            </ul>
    </div>
</li>