<ul class="cm_pc_12 cm_hl3 cm_tc">
        <li class="cm_pc_bf20 cm_bb1c1"><a href="#" class="cm_c1c cm_fwb">两性保健</a></li>
        <li class="cm_pc_bf20 cm_bb1ce"><a href="#" class="cm_c4c">两性保健</a></li>
        <li class="cm_pc_bf20 cm_bb1ce"><a href="#" class="cm_c4c">两性保健</a></li>
        <li class="cm_pc_bf20 cm_bb1ce"><a href="#" class="cm_c4c">两性保健</a></li>
        <li class="cm_pc_bf20 cm_bb1ce"><a href="#" class="cm_c4c">两性保健</a></li>
   </ul>
  <div class="cm_pc_12 cm_c5c cm_mt2 cm_mb1">
      <div class="cm_pa cm_tl0 cm_z2 cm_w705 cm_h6 cm_tc">
              <div class="cm_wh100 scaleImg">
                    <img class="cm_wh100 cm_bs100 lazy" data-original="<%=site.path%>/images/icon.png"/>
                </div>
              <span class="cm_pa cm_bl0 cm_z2 cm_o08 cm_w100 cm_hl2 cm_bk02 cm_cf">标题2</span>
      </div>
      <ul class="cm_pc_12 cm_pl8 cm_pr0 cm_minh6">
          <li class="cm_pc_12 cm_mt02">
              <a class="cm_c7c">两性保健两性保健两性保健两性保健</a>
          </li>
          <% for(var i=0,k=1;i<3;i++,k++){%>
                  <li class="cm_pc_12 cm_mb02">
                          <a href="#" class="cm_fs09 cm_c5c" target="_blank">两性保健两性保健两性保健两性保健</a>
                      </li>
              <%}%>									
      </ul>
  </div>
  <ul class="cm_pc_12 cm_lh2 cm_c7c cm_mb205">
      <li class="cm_pc_12 cm_pr">
          . <a class="cm_c7c">kasdfafasdf意味着什么1</a>
      </li>
      <li class="cm_pc_12 cm_pr">
          . <a class="cm_c7c">kasdfafasdf意味着什么意味着什么2</a>
      </li>
      <li class="cm_pc_12 cm_pr">
          . <a class="cm_c7c">kasdfafasdf意味着什么什么3</a>
      </li>
  </ul>