<div class="cm_mob_12 cm_mob cm_mob cm_pc_12 cm_prl05 cm_mtb05" id="mobile_head02">
    <div class="cm_mob_12 cm_tc cm_hl3">
        <a href="/" target="_blank" style="float:left;">
            <img style="width:170px;height:48px;" src="./../../images/pics/banner_01.jpg" alt="">
         </a>
        <span style="float:left;margin-left:10px;"><%= site.title2 %></span>
    </div>
    <a href="<%=site.path%>/sitemap.html" target="_blank" title="网站地图"><img class="cm_pa cm_tr0 cm_z2 mob_menu cm_bs100 cm_dn" src="<%=site.path%>/images/mobile/menu.png" /></a>
</div>