<link rel="stylesheet" href="<%=site.path%>/css/apps/cm_about.css">
<link rel="stylesheet" type="text/css" href="<%=site.path%>/css/apps/cm_chip.css" />
<% include ../common/header.html %>
    <div class="cm_main2">
        <% include ../components/mobile_column_head.html %>
            <!--PC端-->
            <div id="bc_head" class="cm_row">
                <% include ../components/common_head.html%>
            </div>
            <div class="cm_main2 cm_h8 cm_bf cm_pc">
                <div class="cm_main">
                    <ul class="cm_pc_12 cm_pr cm_mtb105">
                        <li class="cm_mob_12 cm_pc_2 cm_prl05mob cm_pr">
                            <img class="cm_fl img_logo" src="<%=site.path%>/images/icon.png" />
                        </li>
                        <li class="cm_mob_12 cm_pc_10 cm_prl05mob cm_pr">
                            <div class="cm_pc_12 cm_pr cm_hl3 cm_mtb1 cm_bl1cc cm_ti2">
                                关于我们
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--移动端nav-->
            <div class="mobnav">
                <ul>
                    <li class="mobnav_Li cm_mob_3 active">
                        <a href="<%=site.path%>/about.html" target="_blank" ref="nofollow">关于我们</a>
                    </li>
                    <li class="mobnav_Li cm_mob_3">
                        <a href="<%=site.path%>/contact.html" target="_blank" ref="nofollow">联系我们</a>
                    </li>
                    <li class="mobnav_Li cm_mob_3">
                        <a href="<%=site.path%>/law.html" target="_blank" ref="nofollow">服务条款</a>
                    </li>
                    <li class="mobnav_Li cm_mob_3">
                        <a href="<%=site.path%>/sitemap.html" target="_blank" ref="nofollow">网站地图</a>
                    </li>
                </ul>
            </div>
            <!--主体内容-->
            <div class="cm_main">
                <div class="chip">
                    <a href="<%=site.path%>/" target="_blank">首页</a>
                    <a href="javascript:;" class="active" target="_blank">关于我们</a>
                </div>
                <div class="commonAbout">
                    <div class="aboutBox">
                        <div class="aboutLeft">
                            <ul class="leftUl">
                                <li class="leftLi active">
                                    <a href="<%=site.path%>/about.html" target="_blank" ref="nofollow">关于我们</a>
                                </li>
                                <li class="leftLi">
                                    <a href="<%=site.path%>/contact.html" target="_blank" ref="nofollow">联系我们</a>
                                </li>
                                <li class="leftLi">
                                    <a href="<%=site.path%>/law.html" target="_blank" ref="nofollow">服务条款</a>
                                </li>
                                <li class="leftLi">
                                    <a href="<%=site.path%>/link.html" target="_blank" ref="nofollow">友情链接</a>
                                </li>
                                <li class="leftLi">
                                    <a href="<%=site.path%>/sitemap.html" target="_blank" ref="nofollow">网站地图</a>
                                </li>
                            </ul>
                        </div>
                        <div class="aboutRight">
                            <div class="rightUl rightAbout">
                                <p class="info_text_tip">唯爱健康网简介</p>
                                <p class="aboutText">唯爱健康网（www.weiaijk.com）自正式开通以来，拥有完善服务网络、强大的专业技术队伍、全系列自主研发产品线，致力成为国内权威的公众健康信息服务管理平台。</p>
                                <p class="aboutText">唯爱健康网依托自身强大的资金和资源平台获得超常规的迅猛发展，基于WEB2.0技术,进一步打造涵盖大众资讯、健康互动的健康服务模式。即将成为广大公众获取健康资讯的首选媒体，专业人士获取信息的主要途径，企业信息传播和开展电子商务的重要渠道，并成为最具竞争力和商业价值的健康门户网站。</p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="bc_foot">
                <% include ../components/index_foot.html %>
            </div>
    </div>


    <script src="<%=site.path%>/bundle/commonJS.js"></script>
    <% include ../common/footer.html %>