<style>
    .img_slide_h{
        height:18em!important;
    }
    @media screen and (max-width: 768px){

    }
</style>
<div class="cm_pc_9 cm_mob_12 cm_pr20pc">
        <ul class="cm_pc_12">
            <li class="cm_pc_5 cm_mob_12 cm_pr20pc">
                <div class="cm_pc_12 cm_bf img_slide_h">
                    <!-- Swiper -->
                    <div class="swiper-container index_img_slide">
                        <div class="swiper-wrapper cm_wh100">
                                <%for(var i6=0;i6<5;i6++){%>
                                    <div class="swiper-slide cm_wh100">
                                        <div class="cm_pr cm_wh100">
                                            <a href="/" title="/" target="_blank"><img class="cm_wh100" src="/"/></a>
                                            <a href="/" title="/" target="_blank"><span class="cm_pa cm_bl0 cm_z2 cm_o08 cm_w100 cm_bk02 cm_cf cm_pc">12345</span></a>
                                        </div>
                                    </div>
                                <%}%>
                        </div>
                        <div class="index_pagination cm_mob"></div>
                        <div class="swiper-button-next mobile_hide" style="display:none;"></div>
                        <div class="swiper-button-prev mobile_hide" style="display:none;"></div>
                        <div class="swiper-button-next cm_mob" ></div>
                        <div class="swiper-button-prev cm_mob" ></div>
                    </div>
                    <div class="index_pagination pc_hide mobile_show"></div>
                    <!-- Swiper -->
                </div>
                <div class="cm_pc_12 cm_b1ce">
                    <div class="cm_pc_12 cm_be cm_bt2c1">
                        <div class="cm_pc_12 cm_hl205 cm_prl20px cm_c1c">
                            <span class="cm_fs09">原创文章</span>
                        </div>
                    </div>
                    <ul class="cm_pc_12 cm_prl20px cm_mt06">
                        <% for(var i=0;i<10;i++){%>
                            <li class="cm_pc_12 cm_mb05 cm_hl2 cm_ts">
                                <a class="" href="123" title="123" target="_blank">
                                    <span class="cm_c8c">.平台:</span>
                                    <span class="cm_c9c">综合利率综合利率综合利率综合利率综合利率</span>
                                </a>
                            </li>
                        <% }%>
                    </ul>
                </div>
            </li>
            <li class="cm_pc_7 cm_mob_12" >
                <ul class="cm_pc_12 cm_b1ce">
                    <li class="cm_pc_12 cm_be cm_c7c cm_tab01">
                        <% var arr4 = ['今日头条','今日头条','今日头条','今日头条'],len4=arr4.length;
                            for(var i4=0;i4<len4;i4++){%>
                            <div class="cm_fl cm_mob_3 cm_hl205  cm_tc cm_prl20pc <%if(i4==0){%>cm_bt2c1 cm_c1c cm_bf<%}%>">
                                <span class="cm_fs09"><%=arr4[i4]%></span>
                            </div>
                        <%}%>
                    </li>
                    <li class="cm_pc_12 cm_tab01_list" >
                        <ul class="cm_pc_12 cm_prl20px">
                            <% for(var i=0;i<6;i++){%>
                                <li class="cm_pc_12 cm_mb05 cm_oh cm_lh2">
                                    <a class="" href="123" title="123" target="_blank">
                                        <span class="cm_fl cm_c8c">平台</span>
                                        <span class="cm_fl cm_c8c cm_mrl05">|</span>
                                        <span class="cm_fl cm_c9c">综合利率</span>
                                        <span class="cm_pa cm_tr0 cm_c8c">01-31</span>
                                    </a>
                                </li>
                            <% }%>
                            <li class="cm_pc_12 cm_mb05 cm_oh cm_lh205 cm_b1c1 cm_tc">
                                <a class="" href="123" title="123" target="_blank">
                                    <span class="cm_c10c">综合利率综合利率综合利率综合利率</span>
                                </a>
                            </li>
                            <% for(var i=0;i<6;i++){%>
                                <li class="cm_pc_12 cm_mb05 cm_oh cm_lh2">
                                    <a class="" href="123" title="123" target="_blank">
                                        <span class="cm_fl cm_c8c">平台</span>
                                        <span class="cm_fl cm_c8c cm_mrl05">|</span>
                                        <span class="cm_fl cm_c9c">综合利率</span>
                                        <span class="cm_pa cm_tr0 cm_c8c">01-31</span>
                                    </a>
                                </li>
                            <% }%>
                            <li class="cm_pc_12 cm_bt1ce">
                                <div class="cm_fl cm_hl205 cm_prl20px cm_c1c  cm_bt2c1">
                                    <span class="cm_fs09">专题推荐</span>
                                </div>
                                <div class="cm_pa cm_tr0 cm_mt07 cm_mr1">
                                        <span class="cm_fl cm_fs09 cm_c8c">更多</span>
                                        <img class="cm_fl cm_wh1 cm_bs100" src="/images/index/arrow_left_circle.png" width="100%" heigth="200">
                                </div>

                                
                            </li>
                            <li class="cm_pc_12 cm_mb1" >
                                    <img class="cm_pc_4 cm_bs100 cm_pr05" src="/images/pics/banner_01.jpg" heigth="100">
                                    <img class="cm_pc_4 cm_bs100 cm_prl025" src="/images/pics/banner_01.jpg" heigth="100">
                                    <img class="cm_pc_4 cm_bs100 cm_pl05" src="/images/pics/banner_01.jpg" heigth="100">
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="cm_pc_3 cm_mob_12">
        <ul class="cm_pc_12">
            <li class="cm_pc_12 cm_mb1">
                <img class="cm_bs100" src="/images/pics/banner_01.jpg" width="100%" heigth="200">
            </li>
            <li class="cm_pc_12 cm_mb1">
                <img class="cm_pc_6 cm_bs100 cm_pr05" src="/images/pics/banner_01.jpg" heigth="100">
                <img class="cm_pc_6 cm_bs100 cm_pl05" src="/images/pics/banner_01.jpg" heigth="100">
            </li>
        </ul>
        <div class="cm_pc_12 cm_b1ce">
                <div class="cm_pc_12 cm_be cm_bt2c1">
                    <div class="cm_pc_12 cm_hl205 cm_prl20px">
                        <span class="cm_fs09">热门资讯</span>
                    </div>
                    <div class="cm_pa cm_tr0 cm_mt07 cm_mr1">
                            <span class="cm_fl cm_fs09 cm_c8c">更多</span>
                            <img class="cm_fl cm_wh1 cm_bs100" src="/images/index/arrow_left_circle.png" width="100%" heigth="200">
                    </div>
                </div>
                <ul class="cm_pc_12 cm_prl20px cm_mt07 cm_mb06">
                    <% for(var i=0;i<10;i++){%>
                        <li class="cm_pc_12 cm_hl2 cm_ts">
                            <a class="" href="123" title="123" target="_blank">
                                <span class="cm_fl cm_wh1 cm_hl1 cm_tc cm_mtb05 <%if(i<3){%>cm_c10b<%}else{%>cm_c1b<%}%> cm_cf">
                                    <span class="cm_fs08"><%=i+1%></span>
                                </span>
                                <span class="cm_fl cm_ml05 cm_c9c">综合利率综合利率</span>
                            </a>
                        </li>
                    <% }%>
                </ul>
            </div>
    </div>