<style>
    .index_banner{
        background: url('./../../../images/pics/bnner.png') no-repeat center;

    }
    .index_banner_box{
        top:0;
        left:35%;
    }
</style>

<div class="cm_h21  index_banner cm_pr">
    <div class=" index_banner_box cm_pc_3 cm_h21 cm_pa" >
        <p class="cm_tc cm_mt3 cm_fs2 cm_cf">快速搜索平台</p>
        <div class="cm_row cm_mt2">
            <input class=" cm_pc_10 cm_h3" type="text" name="" value="">
            <span class="cm_fl cm_pc_2 cm_c1b cm_h3">
                <a href="#" class=" cm_h3"></a>
            </span>
        </div>
        <div class="cm_tc cm_cf cm_mt2">
            <span class="cm_prl1 cm_ptb05 cm_fs09 cm_b1c1 cm_br2 cm_c1c ">热门推荐</span>
            <span class="cm_prl05 cm_fs08">福利金融</span>
            <span class="cm_prl05 cm_fs08">福利金融</span>
            <span class="cm_prl05 cm_fs08">福利金融</span>
            <span class="cm_prl05 cm_fs08">福利金融</span>
        </div>
    </div>
</div>