 <style>
     .index_pagination{
         position: absolute;
         left:0;
         bottom:0;
     }
      .index_pagination span{
         display: inline-block;
         width: 2em;
         height: 0.5em;
         background: #dadada;
         margin: 0 0.5em;
     }
     .index_pagination span.swiper-active-switch{
         background: #cea770;
     }
 
 </style>
 <!--轮播图和右侧3个图片-->
 <div class=" cm_row cm_pt2 cm_oh">
    <div class="cm_pc_9 cm_h29 ">
        <div class="cm_mr1 cm_h29  ">
            <!--轮播图-->
            <div class="">
                <div class="swiper-container baike_index_swiper cm_h29  cm_pr cm_h20 cm_b1ce">
                    <div class="swiper-wrapper cm_h29 ">
                        <div class="swiper-slide cm_h29">
                            <a href="#">
                                <div class="cm_wh100 cm_pr">
                                    <img class="cm_wh100" src="<%=site.path%>/images/commons/banner_01.jpg" />
                                    <p class="cm_pa cm_bl0 cm_h4 cm_lh1  cm_prl1 cm_cf">热门百科热门百科热门百科热门百科热门百科热门百科</p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide cm_h29">
                            <a href="#">
                                <div class="cm_wh100 cm_pr">
                                    <img class="cm_wh100" src="<%=site.path%>/images/commons/banner_02.jpg" />
                                    <p class="cm_pa cm_bl0 cm_h4 cm_lh1  cm_prl1 cm_cf">热门百科热门百科热门百科热门百科热门百科热门百科热门科热门百科热门百科热门百科</p>
                                </div>
                            </a>
                        </div>
                    </div>
                <div class="index_pagination cm_h2 cm_prl1"></div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="cm_pc_3 cm_h29 ">
        <div class="cm_h9 cm_b1c5 cm_mb1"><a href="#"><img class="cm_wh100" src="<%=site.path%>/images/commons/banner_01.jpg" /></a></div>
        <div class="cm_h9 cm_b1c5 cm_mb1"><a href="#"><img class="cm_wh100" src="<%=site.path%>/images/commons/banner_01.jpg" /></a></div>
        <div class="cm_h9 cm_b1c5 cm_mb1"><a href="#"><img class="cm_wh100" src="<%=site.path%>/images/commons/banner_01.jpg" /></a></div>
    </div>
</div>



 <div class=" cm_row cm_pt2 cm_oh">
    <div class="cm_pc_9  ">
        <div class="cm_mr1   ">
           111
        </div>
    </div>
    <div class="cm_pc_3  ">
        <div class="cm_h3 cm_c5b">
            <h2 class="cm_dib cm_prl05 cm_bf cm_h3 cm_bt3c1 cm_c1c cm_lh3">网贷专题</h2>
        </div>
        <ul class="cm_mtb05">
            <li  class="cm_h10 cm_b2c5 cm_mb2"><a href="#"><img class="cm_wh100" src="<%=site.path%>/images/commons/banner_01.jpg" alt=""></a></li>
             <li  class="cm_h10 cm_b2c5 cm_mb2"><a href="#"><img class="cm_wh100" src="<%=site.path%>/images/commons/banner_01.jpg" alt=""></a></li>
             <li  class="cm_h10 cm_b2c5 cm_mb2"><a href="#"><img class="cm_wh100" src="<%=site.path%>/images/commons/banner_01.jpg" alt=""></a></li>
        </ul>
    </div>
</div>