<div class="cm_main cm_pc">
            <div class="cm_pr cm_h2">
                <div class='cm_pa cm_tl0'>
                    <ul class="cm_pc_12 cm_h2">
                        <li class="cm_fl cm_lh3 cm_mr1 cm_fs08"><a href="javascript:;">网站首页</a></li>
                        <li class="cm_fl cm_lh3 cm_mr1 cm_fs08"><a href="javascript:;">资讯</a></li>
                        <li class="cm_fl cm_lh3 cm_mr1 cm_fs08"><a href="javascript:;">平台库</a></li>
                        <li class="cm_fl cm_lh3 cm_mr1 cm_fs08"><a href="javascript:;">百科</a></li>
                        <li class="cm_fl cm_lh3 cm_mr1 cm_fs08"><a href="javascript:;">专题</a></li>
                        <li class="cm_fl cm_lh3 cm_mr1 cm_fs08"><a href="javascript:;">排行榜</a></li>
                    </ul>
                </div>
                <div class='cm_pa cm_tr0'>
                    <ul class="cm_pc_12 cm_h3">
                        <li class="cm_fl cm_lh3 cm_mr1 cm_fs08"><a href="javascript:;">微信公众号</a></li>
                        <li class="cm_fl cm_lh3 cm_mr1 cm_fs08"><a href="javascript:;">网站导航</a></li>
                    </ul>
                </div>
            </div>
            <div class="">
                <ul class="clearfix cm_h3">
                    <li class="cm_fl cm_mr1 cm_c1c cm_fwb cm_lh3 cm_pc">Logo</li>
                    <li class="cm_fl cm_mr1 cm_lh3 cm_pc">|</li>
                    <li class="cm_fl cm_mr9 cm_c1c cm_lh3 cm_pc">资讯频道</li>
                    <li class="cm_fl">
                        <ul class="clearfix">
                            <li class="cm_fl cm_lh3"><a href="javascript:;" class="cm_c1c cm_pd1">首页</a></li>
                            <li class="cm_fl cm_lh3"><a href="javascript:;" class="cm_c1c cm_pd1">首页</a></li>
                            <li class="cm_fl cm_lh3"><a href="javascript:;" class="cm_c1c cm_pd1">首页</a></li>
                            <li class="cm_fl cm_lh3"><a href="javascript:;" class="cm_c1c cm_pd1">首页</a></li>
                            <li class="cm_fl cm_lh3"><a href="javascript:;" class="cm_c1c cm_pd1">首页</a></li>
                            <li class="cm_fl cm_lh3"><a href="javascript:;" class="cm_c1c cm_pd1">首页</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="fl_pl18 cm_c1b cm_pc12 cm_h2">
                    <li class="cm_fl cm_ml1 cm_lh2"><a href="javascript:;" class="cm_cf cm_fs08">栏目推荐</a></li>
                    <li class="cm_fl cm_ml1 cm_lh2"><a href="javascript:;" class="cm_cf cm_fs08">跟投精选</a></li>
                    <li class="cm_fl cm_ml1 cm_lh2"><a href="javascript:;" class="cm_cf cm_fs08">跟投精选</a></li>
                    <li class="cm_fl cm_ml1 cm_lh2"><a href="javascript:;" class="cm_cf cm_fs08">跟投精选</a></li>
                    <li class="cm_fl cm_ml1 cm_lh2"><a href="javascript:;" class="cm_cf cm_fs08">跟投精选</a></li>
                    <li class="cm_fl cm_ml1 cm_lh2"><a href="javascript:;" class="cm_cf cm_fs08">跟投精选</a></li>
                    <li class="cm_fl cm_ml1 cm_lh2"><a href="javascript:;" class="cm_cf cm_fs08">跟投精选</a></li>
                    <li class="cm_fl cm_ml1 cm_lh2"><a href="javascript:;" class="cm_cf cm_fs08">跟投精选</a></li>
                </ul>

            </div>
        </div>
        <div class="cm_mob">
            <div class="cm_lh2 cm_fwb">互金跟投</div>
            <div>
                <ul class="clearfix cm_c1b">
                    <li class="cm_fl cm_lh2"><a href="javascript:;" class="cm_cf cm_pd1">首页</a></li>
                    <li class="cm_fl cm_lh2"><a href="javascript:;" class="cm_cf cm_pd1">首页</a></li>
                    <li class="cm_fl cm_lh2"><a href="javascript:;" class="cm_cf cm_pd1">首页</a></li>
                    <li class="cm_fl cm_lh2"><a href="javascript:;" class="cm_cf cm_pd1">首页</a></li>
                    <li class="cm_fl cm_lh2"><a href="javascript:;" class="cm_cf cm_pd1">首页</a></li>
                    <li class="cm_fl cm_lh2"><a href="javascript:;" class="cm_cf cm_pd1">首页</a></li>
                </ul>
            </div>
            <div>
                <ul class="clearfix cm_bb1c4">
                    <li class="cm_fl cm_ml1 cm_lh2"><a href="javascript:;" class="cm_fs08">首页</a></li>
                    <li class="cm_fl cm_ml05 cm_lh2"><a href="javascript:;" class="cm_fs08">></a></li>
                    <li class="cm_fl cm_ml05 cm_lh2"><a href="javascript:;" class="cm_fs08">咨询</a></li>
                </ul>
            </div>
            <div class="cm_oa">
                <ul class="cm_h2 clearfix fl_w200">
                    <li class="cm_fl cm_ml1 cm_lh2"><a href="javascript:;" class="cm_fs08">栏目推荐：</a></li>
                    <li class="cm_fl cm_ml1 cm_lh2"><a href="javascript:;" class="cm_fs08">跟投精选</a></li>
                    <li class="cm_fl cm_ml1 cm_lh2"><a href="javascript:;" class="cm_fs08">跟投精选</a></li>
                    <li class="cm_fl cm_ml1 cm_lh2"><a href="javascript:;" class="cm_fs08">跟投精选</a></li>
                    <li class="cm_fl cm_ml1 cm_lh2"><a href="javascript:;" class="cm_fs08">跟投精选</a></li>
                    <li class="cm_fl cm_ml1 cm_lh2"><a href="javascript:;" class="cm_fs08">跟投精选</a></li>
                    <li class="cm_fl cm_ml1 cm_lh2"><a href="javascript:;" class="cm_fs08">跟投精选</a></li>
                    <li class="cm_fl cm_ml1 cm_lh2"><a href="javascript:;" class="cm_fs08">跟投精选</a></li>
                </ul>
            </div>
        </div>