<div class="clearfix cm_main cm_mt2 cm_prl1">
    <div class="cm_pc_3 cm_mob_12 cm_mr4">
        <div class="swiper-container index_img_slide cm_pr cm_h12">
            <div class="swiper-wrapper cm_wh100">

                <div class="swiper-slide cm_wh100">
                    <div class="cm_wh100">
                        <img class="cm_wh100" src="<%=site.path%>/images/commons/banner_01.jpg" />
                    </div>
                </div>
                <div class="swiper-slide cm_wh100">
                    <div class="cm_wh100">
                        <img class="cm_wh100" src="<%=site.path%>/images/commons/banner_02.jpg" />
                    </div>
                </div>

            </div>
            <div class="index_pagination cm_mob"></div>
            <div class="swiper-button-next mobile_hide" style="display:none;"></div>
            <div class="swiper-button-prev mobile_hide" style="display:none;"></div>

            <div class="swiper-button-next cm_mob"></div>
            <div class="swiper-button-prev cm_mob"></div>
        </div>
        <div class="index_pagination pc_hide mobile_show"></div>

        <div class="cm_mtb05">
            <h3 class="cm_fs12 cm_fwb">行业热点</h3>
            <ul class="cm_mt05">
                <li class="cm_lh2 cm_fs08"><a href="javascript:;">买车贷款好还是全款好 个人贷款买车小窍门</a></li>
                <li class="cm_lh2 cm_fs08"><a href="javascript:;">买车贷款好还是全款好 个人贷款买车小窍门</a></li>
                <li class="cm_lh2 cm_fs08"><a href="javascript:;">买车贷款好还是全款好 个人贷款买车小窍门</a></li>
            </ul>
        </div>
    </div>

    <div class="cm_pc_5 cm_mob_12  cm_mt05">
        <div class="cm_pc cm_main2">
            <h3 class="cm_fwb">3月起新平台不再给予备案</h3>
            <p class="cm_fs08 cm_mt1 cm_c4c cm_lh2">最新房贷利率是多少?在2015年10月24日起决定下调金融机构人民币贷款和存款基准利率，这也是目前最新房贷利率的规定 &nbsp;&nbsp;&nbsp;<span class="cm_c1c">[详情]</span></p>
        </div>
        <div class="cm_mob cm_main2 clearfix">
            <div class="cm_pc_4 cm_h5">
                <img src="<%=site.path%>/images/commons/banner_01.jpg" alt="" class="cm_wh100">
            </div>
            <div class="cm_pc_8 cm_h4">
                <h5 class="cm_fwb">3月起新平台不再给予备案</h5>
                <p class="cm_fs08 cm_mt05">最新房贷利率是多少?在2015年10月24日起决定下调</p>
                <div class="cm_fs08 cm_mt05 cm_c4c">
                    <span>2018-02-10</span>
                    <span></span>网贷新闻</div>
            </div>

        </div>
        <ul class="cm_mt1">
            <li class="cm_lh205 cm_fs08">
                <a href="javascript:;">银行</a>
                <span>|</span>
                <a href="javascript:;">三分钟为你解读：点牛金融融资是真的吗？</a>
            </li>
            <li class="cm_lh205 cm_fs08">
                <a href="javascript:;">银行</a>
                <span>|</span>
                <a href="javascript:;">三分钟为你解读：点牛金融融资是真的吗？</a>
            </li>
            <li class="cm_lh205 cm_fs08">
                <a href="javascript:;">银行</a>
                <span>|</span>
                <a href="javascript:;">三分钟为你解读：点牛金融融资是真的吗？</a>
            </li>
            <li class="cm_lh205 cm_fs08">
                <a href="javascript:;">银行</a>
                <span>|</span>
                <a href="javascript:;">三分钟为你解读：点牛金融融资是真的吗？</a>
            </li>
            <li class="cm_lh205 cm_fs08">
                <a href="javascript:;">银行</a>
                <span>|</span>
                <a href="javascript:;">三分钟为你解读：点牛金融融资是真的吗？</a>
            </li>
            <li class="cm_lh205 cm_fs08">
                <a href="javascript:;">银行</a>
                <span>|</span>
                <a href="javascript:;">三分钟为你解读：点牛金融融资是真的吗？</a>
            </li>
            <li class="cm_lh205 cm_fs08">
                <a href="javascript:;">银行</a>
                <span>|</span>
                <a href="javascript:;">三分钟为你解读：点牛金融融资是真的吗？</a>
            </li>

        </ul>
    </div>

    <div class="cm_pc cm_pc_3 cm_mob_12 cm_pl3">
        <div class="cm_h8 cm_main2">
            <img src="<%=site.path%>/images/commons/banner_01.jpg" alt="" class="cm_wh100">
        </div>
        <div class="cm_mt05">
            <h3 class="cm_fwb">三分钟为你解牛金融融资</h3>
            <p class="cm_fs08 cm_c4c cm_mt05">三分钟为你解读：点牛金融融资是真的三分钟为你解读：点牛金融融资是真的</p>
        </div>
        <div class="cm_h8 cm_main2 cm_mt1">
            <img src="<%=site.path%>/images/commons/banner_02.jpg" alt="" class="cm_wh100">
        </div>
    </div>
</div>