<style>
    @media screen and (min-width: 768px) {
        .fl_mrl3 {
            margin: 0em 3em !important;
        }
        .fl_b1c4 {
            border: 1px solid #666666 !important;
        }
        .fl_bc {
            background: #cccccc !important;
        }
    }
</style>
<div class="cm_main">
    <div class="cm_pc cm_pc_12 cm_h4 cm_c1b cm_mt1"></div>
    <div class="cm_pc cm_pc_12 cm_lh2 cm_prl1 cm_bb2c2">
        <h3 class="cm_fl cm_fwb cm_fs12">P2P网贷</h3>
        <div class="cm_fr">更多></div>
    </div>
    <div class="cm_mob cm_mob_12 cm_c1b cm_lh3 cm_tc"><a href="javascript:;" class="cm_cf">网贷新闻</a></div>
    <div class="cm_pc_3 cm_mob_12 cm_mt1 cm_mr3">
        <div class="swiper-container index_img_slide cm_pr cm_h10">
            <div class="swiper-wrapper cm_wh100">

                <div class="swiper-slide cm_wh100">
                    <div class="cm_wh100">
                        <img class="cm_wh100" src="<%=site.path%>/images/commons/banner_01.jpg" />
                    </div>
                </div>
                <div class="swiper-slide cm_wh100">
                    <div class="cm_wh100">
                        <img class="cm_wh100" src="<%=site.path%>/images/commons/banner_02.jpg" />
                    </div>
                </div>

            </div>
            <div class="index_pagination cm_mob"></div>
            <div class="swiper-button-next mobile_hide" style="display:none;"></div>
            <div class="swiper-button-prev mobile_hide" style="display:none;"></div>

            <div class="swiper-button-next cm_mob"></div>
            <div class="swiper-button-prev cm_mob"></div>
        </div>
        <div class="index_pagination pc_hide mobile_show"></div>

        <div class="cm_mtb05 cm_prl1">
            <h3 class="cm_fs12 cm_fwb">热门网贷新闻</h3>
            <ul class="cm_mt05">
                <li class="cm_lh2 cm_fs08">
                    <a href="javascript:;">新闻</a>
                    <span>|</span>
                    <a href="javascript:;">买车贷款好还是全款好</a>
                </li>
                <li class="cm_lh2 cm_fs08">
                    <a href="javascript:;">新闻</a>
                    <span>|</span>
                    <a href="javascript:;">买车贷款好还是全款好</a>
                </li>
                <li class="cm_lh2 cm_fs08">
                    <a href="javascript:;">新闻</a>
                    <span>|</span>
                    <a href="javascript:;">买车贷款好还是全款好</a>
                </li>
                <li class="cm_lh2 cm_fs08">
                    <a href="javascript:;">新闻</a>
                    <span>|</span>
                    <a href="javascript:;">买车贷款好还是全款好</a>
                </li>
                <li class="cm_lh2 cm_fs08">
                    <a href="javascript:;">新闻</a>
                    <span>|</span>
                    <a href="javascript:;">买车贷款好还是全款好</a>
                </li>
                <li class="cm_lh2 cm_fs08">
                    <a href="javascript:;">新闻</a>
                    <span>|</span>
                    <a href="javascript:;">买车贷款好还是全款好</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cm_pc_5 cm_mob_12 cm_mt1">
        <div class="fl_top">
            <ul class="clearfix cm_lh3 cm_bc">
                <li class="cm_fl cm_prl05 fl_b1c4 cm_fs08 fl_bn">网贷新闻</li>
                <li class="cm_fl cm_prl05 fl_b1c4 cm_fs08 fl_bn">跟投精选</li>
                <li class="cm_fl cm_prl05 fl_b1c4 cm_fs08 fl_bn">专家专栏</li>
                <li class="cm_fl cm_prl05 fl_b1c4 cm_fs08 fl_bn">平台动态</li>
                <!-- <li class="cm_fl cm_wf20">专家测评</li> -->
            </ul>
        </div>
        <div class="fl_bom cm_mt05 cm_prl1">
            <ul class="fl_bot">
                <li class=""><a href="#">1111111111111111</a></li>
                <li class=""><a href="#">1111111111111111</a></li>
                <li class=""><a href="#">1111111111111111</a></li>
                <li class=""><a href="#">1111111111111111</a></li>
                <li class=""><a href="#">1111111111111111</a></li>
                <li class=""><a href="#">1111111111111111</a></li>
                <li class=""><a href="#">1111111111111111</a></li>
                <li class=""><a href="#">1111111111111111</a></li>
                <li class=""><a href="#">1111111111111111</a></li>
                <li class=""><a href="#">1111111111111111</a></li>
            </ul>
            <ul class="fl_hide fl_bot">
                <li class=""><a href="#">22222222222222222</a></li>
                <li class=""><a href="#">22222222222222222</a></li>
                <li class=""><a href="#">22222222222222222</a></li>
                <li class=""><a href="#">22222222222222222</a></li>
                <li class=""><a href="#">22222222222222222</a></li>
                <li class=""><a href="#">22222222222222222</a></li>
                <li class=""><a href="#">22222222222222222</a></li>
                <li class=""><a href="#">22222222222222222</a></li>
                <li class=""><a href="#">22222222222222222</a></li>
                <li class=""><a href="#">22222222222222222</a></li>
            </ul>
            <ul class="fl_hide fl_bot">
                <li class=""><a href="#">333333333333333333</a></li>
                <li class=""><a href="#">333333333333333333</a></li>
                <li class=""><a href="#">333333333333333333</a></li>
                <li class=""><a href="#">333333333333333333</a></li>
                <li class=""><a href="#">333333333333333333</a></li>
                <li class=""><a href="#">333333333333333333</a></li>
                <li class=""><a href="#">333333333333333333</a></li>
                <li class=""><a href="#">333333333333333333</a></li>
                <li class=""><a href="#">333333333333333333</a></li>
                <li class=""><a href="#">333333333333333333</a></li>
            </ul>
            <ul class="fl_hide fl_bot">
                <li class=""><a href="#">444444444444444444</a></li>
                <li class=""><a href="#">444444444444444444</a></li>
                <li class=""><a href="#">444444444444444444</a></li>
                <li class=""><a href="#">444444444444444444</a></li>
                <li class=""><a href="#">444444444444444444</a></li>
                <li class=""><a href="#">444444444444444444</a></li>
                <li class=""><a href="#">444444444444444444</a></li>
                <li class=""><a href="#">444444444444444444</a></li>
                <li class=""><a href="#">444444444444444444</a></li>
                <li class=""><a href="#">444444444444444444</a></li>
            </ul>
        </div>
        <div class="cm_bc cm_tc cm_fs08 cm_lh2 cm_mob"><a href="javascript:;">查看全部</a></div>
    </div>

    <div class="cm_pc_3 cm_mob_12 cm_mt1 fl_fr">
        <div class="fl_bc cm_prl1 cm_pt05">
            <h3 class="cm_fs12 cm_fwb">网贷百科</h3>
            <ul class="cm_mt05 clearfix">
                <li class="fl_w50 cm_fl cm_fs08 cm_lh2"><a href="javascript:;">公积金贷款利率</a></li>
                <li class="fl_w50 cm_fl cm_fs08 cm_lh2"><a href="javascript:;">公积金贷款利率</a></li>
                <li class="fl_w50 cm_fl cm_fs08 cm_lh2"><a href="javascript:;">公积金贷款利率</a></li>
                <li class="fl_w50 cm_fl cm_fs08 cm_lh2"><a href="javascript:;">公积金贷款利率</a></li>
                <li class="fl_w50 cm_fl cm_fs08 cm_lh2"><a href="javascript:;">公积金贷款利率</a></li>
                <li class="fl_w50 cm_fl cm_fs08 cm_lh2"><a href="javascript:;">公积金贷款利率</a></li>
                <li class="fl_w50 cm_fl cm_fs08 cm_lh2"><a href="javascript:;">公积金贷款利率</a></li>
                <li class="fl_w50 cm_fl cm_fs08 cm_lh2"><a href="javascript:;">公积金贷款利率</a></li>
                <li class="fl_w50 cm_fl cm_fs08 cm_lh2"><a href="javascript:;">公积金贷款利率</a></li>
                <li class="fl_w50 cm_fl cm_fs08 cm_lh2"><a href="javascript:;">公积金贷款利率</a></li>
            </ul>
        </div>
        <div class="cm_pt05">
            <h3 class="cm_fs12 cm_fwb cm_mtb1 cm_ti1">网贷专题</h3>
            <div>
                <div class="fl_w48 cm_fl cm_pr cm_pr">
                    <a href="javascript:;" class="cm_db">
                      <img src=" <%=site.path%>/images/commons/banner_01.jpg" alt="" class="cm_w100">
                    </a>
                    <div class="cm_pa cm_bl0 cm_b0 cm_o05 cm_w100">
                        <a href="javascript:;" class="cm_cf">XXXXXXXXXXXXX</a>
                    </div>
                </div>
            </div>
            <div class="fl_w48 cm_fr cm_pr">
                <a href="javascript:;" class="cm_db">
                  <img src="<%=site.path%>/images/commons/banner_01.jpg" alt="" class="cm_w100">
                </a>
                <div class="cm_pa cm_bl0 cm_b0 cm_o05 cm_w100">
                    <a href="javascript:;" class="cm_cf">XXXXXXXXXXXXX</a>
                </div>
            </div>
        </div>
    </div>
</div>

</div>