<% include ../common/wp_header.html %>
<div class="container-fluid">
	<ul class="row">
		<li class="col-xs-12 cm_pr cm_mtb05">
			<img class="cm_fc cm_wh4 cm_bs100 lazy" data-original="<%=site.path%>/images/icon.png"/>
		</li>
		<li class="col-xs-12 cm_pr cm_hl3 cm_mb05 box1111"><%=msg%></li>
		<li class="col-xs-12 cm_pr cm_hl3 cm_c1b cm_cf cm_mb05">path=<%=path%></li>
		<li class="col-xs-12 cm_p0 cm_pr cm_hl3" id="test">
		   <div class="col-xs-6 cm_pr cm_hl3 cm_c1b cm_cf">horizonal1</div>
		   <div class="col-xs-6 cm_pr cm_hl3 cm_be">horizonal2</div>
		</li>
		<li class="col-xs-12 cm_pr cm_mtb2">
			<div class="cm_fc cm_w6 cm_hl3 cm_be cm_c4c cm_tc" id="cmqd">登陆</div>
		</li>
		<li class="col-xs-12 cm_pr cm_mtb2">
			<div class="cm_fc cm_w6 cm_hl3 cm_be cm_c4c cm_tc">123</div>
		</li>
	</ul>
</div>
<div class="foot-fixed">
	<ul class="row cm_hl3 cm_tc cm_be">
		<li class="col-xs-6 cm_pr cm_c1b cm_cf"><a href="/">首页</a></li>
		<li class="col-xs-6 cm_pr cm_c4c"><a href="/mine">我的</a></li>
	</ul>
</div>
<% include ../common/wp_footer.html %>