<% include ../common/header.html %>
<div class="cm_main2">
	<div id="bc_head"><% include ../components/index_head02.html %></div>
	<div class="cm_main cm_c6b">
		<ul class="cm_row  noPadding">
			<li class="cm_mob_12 cm_pc_8 cm_pr20pc">
				<% include ../components/info_column_toutiao.html%>
				<% include ../components/info_list.html%>
				<% include ../components/info_page.html%>
			</li>
			<li class="cm_mob_12 cm_pc_4">
				<% include ../components/info_right_swiper.html%>
				<% include ../components/info_right_list01.html%>
				<% include ../components/info_right_tuijian.html%>
				<% include ../components/info_right_list02.html%>
				<% include ../components/info_right_tuijian1.html%>
				<% include ../components/info_right_list03.html%>
				<% include ../components/info_right_hot.html%>
				<% include ../components/info_right_pics.html%>
				<% include ../components/info_right_rank.html%>
			</li>
		</ul>
	</div>
	<% include ../components/index_hot.html%>
	<div id="bc_foot"><% include ../components/index_foot.html %></div>
</div>
<link rel="stylesheet" href="<%=site.path%>/css/apps/index01.css">

<script src="<%=site.path%>/bundle/channel_index.js"></script>
<% include ../common/footer.html %>