<% include ../common/header.html %>
<div class="cm_main2">
    <div id="bc_head" class="cm_row">
        <% include ../components/index_head02.html %>
    </div>
    <div class=" cm_main">
        <!--轮播图-->
        <div id="cm_slideShow">
            <% include ../components/cm_swiperSlide.html %>
        </div>
        
        <!--图片列表-->
        <div id='cm_picList'>
            <% include ../components/cm_picList.html %>
        </div>
        <!--分页-->
        <div id="cm_page" style="overflow:hidden;">
            <% include ../components/info_page.html %>
        </div>
    </div>
    <% include ../components/index_hot.html%>
    <div id="bc_foot">
        <% include ../components/index_foot.html %>
    </div>
</div>
<link rel="stylesheet" href="<%=site.path%>/css/apps/index01.css">
<script src="<%=site.path%>/bundle/img_index.js"></script>
<% include ../common/footer.html %>
