<% include ../common/header.html %>
<div class="cm_main2">
	<div id="bc_head"><% include ../components/common_head.html %></div>
	<% include ../components/common_head_logo.html%>
	<div class="cm_main cm_c6b">
		<ul class="cm_row cm_prl05mob">
			<li class="cm_pc_12 cm_bf cm_mt20px">
                <img class="err_img cm_bs100" src="<%=site.path%>/images/index/404.png"/>
            </li>
            <li class="cm_pc_12 cm_bf cm_mb20px">
                <ul class="cm_pc_12 cm_mb1">
                    <li class="err_txt cm_lh3">您访问的页面走丢了!</li>
                    <li class="err_txt cm_lh3">您可以选择<a href="<%=site.path%>/" target="_blank" class="cm_c1c">返回首页</a>哦!</li>
                    <li class="err_txt cm_lh3">或添加我们的客服微信:Vivien9507!</li>
                </ul>
            </li>
		</ul>
	</div>
	<div id="bc_foot"><% include ../components/index_foot.html %></div>
</div>
<script src="<%=site.path%>/bundle/commonJS.js"></script>
<% include ../common/footer.html %>