<ul class="cm_pc_12 cm_bf cm_mb20px right_info_list cm_pc right_ts_main">
        <li class="cm_pc_12 cm_prl20px">
            <div class="cm_pc_6 cm_hl205 cm_bb1ce">
                <h2 class="cm_c1c">今日头条</h2>
            </div>
            <div class="cm_pc_6 cm_pa cm_tr0 cm_pr20px cm_hl205 right_tsnav">
                <span class="cm_pc_6 cm_hl205 cm_bl1ce cm_bt2c1 cm_c1c cm_bb1ce cm_tc">网贷新闻</span>
                <span class="cm_pc_6 cm_hl205 cm_bl1ce cm_bt1ce cm_br1ce cm_tc">全站</span>
            </div>
        </li>
        <li class="cm_pc_12 cm_minh8 cm_prl20px right_tscon">
             <ul class="cm_pc_12 cm_lh2 cm_c7c right_tsinfo ">
                 <% for(var k=0;k<8;k++){ %>
                  
                     <li class="cm_pc_12  " >
                         <div class="cm_pc_12 info_list cm_of cm_h2 <% if(k == 0){ %><%= 'cm_dn' %><% } %> " >
                             . <a class="cm_fs08 cm_c4c">11</a>
                         </div>
                         <ul class="cm_pc_12 cm_c6b cm_prl05 cm_mb05 tsinfo  <% if(k != 0){ %><%= 'cm_dn' %><% } %>">
                             <li class="cm_pc_12 ">
                                 <a class="cm_fs08" href="" target="_blank" title="">444</a>
                             </li>
                             <li class="cm_pc_12 cm_c5c">
                                 <div class="cm_pa cm_tl0 cm_z2 cm_w6 cm_h4 scaleImg">
                                     <img class="cm_wh100 cm_bs100 " src=""/>
                                 </div>
                                 <div class="cm_pc_12 cm_pl605 cm_pr0 cm_minh4 cm_mb05">
                                     <div class="cm_pc_12 cm_wb_b">
                                         <span class="cm_fs08 cm_c5c">所以有很多不法分子，利用人们捡漏的心理，铸造了许多假的大清银币。</span><a href="" target="_blank">[详细]</a>
                                     </div>
                                 </div>
                             </li>
                         </ul>
                     </li>
                 <% } %>
            </ul>

            <ul class="cm_pc_12 cm_lh2 cm_c7c right_tsinfo cm_dn">
                 <% for(var k=0;k<8;k++){ %>
                  
                     <li class="cm_pc_12  " >
                         <div class="cm_pc_12 info_list cm_of cm_h2 <% if(k == 0){ %><%= 'cm_dn' %><% } %> " >
                             . <a class="cm_fs08 cm_c4c">11</a>
                         </div>
                         <ul class="cm_pc_12 cm_c6b cm_prl05 cm_mb05 tsinfo  <% if(k != 0){ %><%= 'cm_dn' %><% } %>">
                             <li class="cm_pc_12 ">
                                 <a class="cm_fs08" href="" target="_blank" title="">444</a>
                             </li>
                             <li class="cm_pc_12 cm_c5c">
                                 <div class="cm_pa cm_tl0 cm_z2 cm_w6 cm_h4 scaleImg">
                                     <img class="cm_wh100 cm_bs100 " src=""/>
                                 </div>
                                 <div class="cm_pc_12 cm_pl605 cm_pr0 cm_minh4 cm_mb05">
                                     <div class="cm_pc_12 cm_wb_b">
                                         <span class="cm_fs08 cm_c5c">所以有很多不法分子，利用人们捡漏</span><a href="" target="_blank">[详细]</a>
                                     </div>
                                 </div>
                             </li>
                         </ul>
                     </li>
                 <% } %>
            </ul>
        </li>
    </ul>








 