<ul class="cm_pc_12 cm_bf cm_mb20px right_ts_main">
    <li class="cm_pc_12 cm_prl20px">
        <div class="cm_pc_6 cm_mob_4 cm_hl205 cm_bb1ce">
            <h2 class="cm_c1c">热门百科</h2>
        </div>
        <div class="cm_pc_6 cm_c7c cm_mob_8">
            <div class="cm_pc_12 cm_tc right_ts">
                <div class="cm_pc_6 cm_hl205 cm_bl1ce cm_bt2c1 cm_c1c cm_bb1ce">
                    <span class="cm_fs09">百科</span>
                </div>
                <div class="cm_pc_6 cm_hl205 cm_bl1ce cm_bt1ce cm_br1ce">
                    <span class="cm_fs09">全部百科</span>
                </div>
            </div>
        </div>
    </li>
    <li class="cm_pc_12 cm_minh8 cm_tc right_ts_list">
        <ul class="cm_pc_12 cm_lh2">
            <% for( var k=0;k<5;k++){ %>
               
                <li class="cm_pc_3 cm_oh cm_h2" >
                    <a class="cm_fs08" href="" target="_blank" title="">33</a>
                </li>
            <% } %>
         </ul>
         <ul class="cm_pc_12 cm_lh2 cm_dn">
             <% for(  var k=0;k<5;k++ ){ %>
                 <li class="cm_pc_3 cm_oh cm_h2" >
                     <a class="cm_fs08" href="" target="_blank" title="">55</a>
                 </li>
             <% } %>
        </ul>
    </li>
</ul>